body {
	background-color: #ff33ff;
}
.h1{
	background-color: #6666ff;
	text-align: center;
	border: 2px solid black;
}
.h2{
	background-color: #6666ff;
	text-align: center;
border: 2px solid black;
}

.l1{
	text-align: center;
	padding-top: 0px;
}
.l2{
	text-align: center;
	padding-bottom: 0px;
}
img {
	padding-left: 340px;
	padding-top: _70px;
	width: 40%;
	height: 270px;

}